body {
    padding-left: 2%;
    padding-right: 2%;
}

.box {
    border: 2px gray ridge;
    box-shadow: 2px 2px;
    padding: 2% 3% 2% 3%;
    margin: .5%;
    height: auto;
    font-size: 2vw;
    line-height: 1.5em;
    max-width: none;
}

.box > .summary {
    height: 3em;
}

.box > h2 {
    margin: 0;
    font-size: 1.3em;
}

.box > h2 > a {
    padding: 0;
}

.box > .categories {
    font-size: 0.8em;
    padding: 0;
    margin: 1% 0 0 0;
}

.box-small {
    font-size:1.8vw;
    border: 1px gray ridge;
    box-shadow: 1px 1px;
    padding: 1%;
    margin: .5%;
    height: auto;
    line-height: 1.25em;
    min-width: 20%;
    flex-grow: 1;
}

.box-small > h2 {
    margin: 0;
    font-size: 1em;
    line-height: 1.5em
}

.box-small > h2 > a {
    padding: 0;
}

.box-small > .summary {
    margin: 0;
}

.box-alt {
    box-shadow: none;
    border: 2px lightgray dashed;
    margin: 0 !important;
    padding: 5%;
    text-align: right;
    font-size: 1.7vw;
    line-height: 1.5em;
    overflow: auto;
}

@media (min-width: 600px) {
    .box {
        font-size: 1.5vw;
    }
    .box > h2 {
        font-size: 1.2em;
    }
    .box-alt {
        font-size: 1.5vw;
    }
    .box-small {
        font-size: 1.2vw;
    }
}

@media (min-width: 800px) {
    .box-alt {
        font-size: 1.2vw;
    }
    .box > h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    .box {
        font-size: 1vw;
    }
    .box-alt {
        font-size: 1vw;
    }
    .box > h2 {
        font-size: 1.1em;
    }
    .box-small {
        font-size: 0.8vw;
    }
}

.col-alt {
    padding: 0 !important;
    margin-top: 1vw;
    margin-left: 2%;
}

ul {
    padding-left: 5%;
}

figure {
    padding: 3%;
    margin: auto;
    max-width: 80%;
    font-style: italic;
    font-size: 0.9vw;
    line-height: 1vw;
    text-align: center;
}

figure.wrap {
    float: left;
}

figure.wrap:nth-of-type(even) {
    float: right;
}

figure.center {
    float: none;
    margin: 0 auto;
}

figure > a {
    max-width: 100%;
    margin: 0 auto;
}

figcaption {
    font-size: 2.1vw;
    line-height: 2.3vw;
    font-weight: lighter;
    text-align: center;
}

@media (min-width: 600px) {
    figcaption {
        font-size: 1.5vw;
        line-height: uvw;
    }
}

@media (min-width: 1200px) {
    figcaption {
        font-size: 1vw;
        line-height: 1.5vw;
    }
}

table {
    margin: auto;
}

code {
    background: #11111111;
}

pre > code {
    padding: 2%;
    margin-left: 1%;
}

.massive {
    font-size: 5vw;
    line-height: 1.25em;
    text-align: center;
    font-family: "Consolas", monospace;
}

@media (min-width: 600px) {
    .massive {
        font-size: 5vw;
        line-height: 5vw;
    }
}

@media (min-width: 800px) {
    .massive {
        font-size: 3vw;
        line-height: 3vw;
    }
}

@media (min-width: 1200px) {
    .massive {
        font-size: 2vw;
        line-height: 2vw;
    }
}

.massive > h1 {
    font-size: 1.3em;
    line-height: 1.5em;
}

.massive > h2 {
    font-size: 1em;
    line-height: 1.5em;
}

.massive ul {
    list-style-type: none;
    padding: 0;
}

.massive ul li {
    float: inherit;
    margin: 3vw;
    position: relative;
}

.massive ul li a:hover {
    background-color: gray;
    color: aliceblue;
    font-weight: bold;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.page {
    float: left;
}

.page > a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    aside {
        float: left;
        position: fixed;
        left: 2%;
        top: 20%;
        margin: 0;
        font-size: 1vw;
        line-height: 2vw;
        width: 20%;
        overflow: auto;
        padding-right: 0%;
    }
}
