code {
  margin-left: 2%;
}

.massive {
  height: 50%;
  width: 50%;
  padding-top: 20%;
  padding-bottom: 20%;
  margin: auto;
  text-align: center;
  font-family: 'Consolas', monospace;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.list {
display: inline-table;
padding-right: 5%;
padding-bottom: 5%;
}
  
.list h2 {
margin: 0;
}

.massive ul {
list-style-type: none;
padding: 0;
}

.massive ul li {
float: inherit;
margin: 0;
position: relative;
}

.massive ul li a {
background-color: coral;
color: aliceblue;
font-weight: bold
}

aside {
  border: 1px gainsboro;
  border-style: ridge;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

aside ul { 
  padding-left: 5%;
}

aside>nav>ul{
  list-style: none;
  padding: 1%;
}

@media (min-width: 992px) {
  aside { 
    position: fixed;
    left:2%;
    top: 20%;
    font-size: 1vw;
    line-height: 1.8vw;
    max-width: 10%;
    padding-right: 5%;
    text-overflow: ellipsis;
  }

  aside ul {
    padding-left: 20%;
  }
}