{{ define "main" }}
    {{ $visiblePages := where .Site.RegularPages ".Params.hidden" "!=" true }}
    {{ if .Params.categories }}
        {{ .Scratch.Set "pages" (where $visiblePages ".Params.categories" "intersect" .Params.categories) }}
        {{ if where (.Scratch.Get "pages") ".Params.type" "gallery" }}
            {{ $.Scratch.Set "associatedGallery" .Params.categories }}
        {{ end }}

        {{ .Scratch.Set "pages" (where (.Scratch.Get "pages") ".Type" .Type) }}
    {{ else }}
        {{ .Scratch.Set "pages" (where $visiblePages ".Type" .Type) }}
    {{ end }}

    {{ if .Params.type }}
        {{ $file := (add "list_" .Params.type) }}
        {{ partial $file . }}
    {{ end }}
{{ end }}
