{{ define "main" }}
<section class="container">
  <div class="content">
      {{ partial "breadcrumb.html" . }}
      <header>
        <h1>{{ .Title }}</h1>
      </header>
  {{ if .Params.Categories }}
  <div class="categories">
    Categories: {{ range .Params.Categories }}
    <a href="/categorized/{{.}}">{{.}}</a> {{ end }}
    <br>
  <date>{{ .Date.Format "January 2, 2006 15:04" }}</date>
  </div>
  <hr>
  {{ end }}
  <aside>
    &nbsp;Contents:
    {{ .TableOfContents }}
  </aside>
    {{ .Content }} 
    <div class="box-alt" style="text-align:left">
        See also:
        <ul>
        {{ range ((.Site.RegularPages.Related .) | first 5) }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
    </div>

    {{ partial "disqus.html" . }}
  </div>
</section>
{{ end }}
