<nav class="navigation">
        <section class="container">
          <a class="navigation-title" href="{{ .Site.BaseURL }}">
            {{ .Site.Title }}
          </a>
          {{ with .Site.Navbar.Elements }}
          <ul class="navigation-list">
            {{ range sort . }}
            <li class="navigation-item">
              <a class="navigation-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </section>
</nav>
      