{{ if .Params.useFL }}
<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

{{ if .Params.useFLGallery }}
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function () {
        $('.gallery').featherlightGallery({
            previousIcon: '&#9664;',
            nextIcon: '&#9654;',
            loading: 'Loading nice picture...',
        });
    });
    $.featherlightGallery.prototype.onResize = function () {
        var caption = this.$currentTarget.find('img').attr('alt');
        var width = this.$content["0"].width;
        var height = this.$content["0"].height;
        if (height>width){
            width *=2;
        }
        this.$instance.find('figcaption').remove();
        $('<figcaption>').css("max-width",width).html(caption).appendTo(this.$instance.find('.featherlight-content'));
    };
</script>
{{ end }} {{ end }}