<h1>{{.Title}}</h1>
{{ $paginator := .Paginate ( .Scratch.Get "pages") }}
{{ range $paginator.Pages }}
<div class="list row">
    <a href="{{ .URL }}" class="banner-link">
        <span class="banner-expander"></span>
    </a>

    <div class="col-3 post">
        <div class="main">
            <h2>{{ .Title }}</h2>

            <date>{{ .Date.Format "January 2, 2006" }}</date>
            <br/>
            <p class="summary">{{ .Params.summary }}</p>

            {{ if .Params.Categories }}
            <div class="categories">
                <p>
                Categories:
                {{ range .Params.Categories }}
                    <a href="/gallery/{{.}}">{{.}}</a>
                {{ end }}
                </p>
            </div>
            {{ end }}

        </div>
    </div>
    <div class="col-3 banner-img-controller">
        <img class="banner-img" src="{{ .Params.bannerImgSrc }}"></img>
    </div>
</div>
</div>
{{ end }}
{{ .Scratch.Set "paginator" $paginator}}
{{ partial "pagination.html" . }}
