<div class="container">
        <header>
          <h1>{{ .Title }}</h1>
        </header>
        {{ partial "breadcrumb.html" . }}
<br/>
</div>
<div class="container row-alt">
    <div class="col-2 col-alt">
{{ if (or .Params.suggestedCategories .Params.starredPages) }}
	<div class="box box-alt">
    {{ if (.Scratch.Get "associatedGallery") }}
       {{ $cat := index (.Scratch.Get "associatedGallery") 0}}
       The gallery has a related page:<br>
       <a href="/gallery/{{$cat}}">{{$cat}}</a>
        <br><br>
    {{ end }}

    {{ if .Params.suggestedCategories }}
        Suggested Cats.:
        {{ range .Params.suggestedCategories }}
        <br><a href="/blog/{{.}}">{{.}}</a> 
        {{ end }}
    {{ end }}
    <br>
    {{ if .Params.starredPages }}
    <p style="line-height:1em">
    ★&nbsp;&nbsp;<br>
    ★★
    </p>
        {{ range .Params.starredPages }}
        <a href="{{index . "url"}}">{{ index . "title" }}</a> <br>
        {{ end }}
    {{ end }}
{{ end }}
	</div>
    </div>
    

    {{ $paginator := .Paginate (.Scratch.Get "pages") }}
    <div style="width:100%">
    <div class="row">
    {{ range $index, $page := $paginator.Pages }}
        <div class="col-3 box">
            <h2>
                <a href="{{ .URL }}">{{ .Title }}</a>
            </h2>
            
            <date>{{ .Date.Format "January 2, 2006" }}</date>
            <br/>
            <p class="summary">{{ .Params.summary }}</p>
            
            {{ if .Params.Categories }}
            <p class="categories">
                Categories:
                {{ range .Params.Categories }}
                <a href="/blog/{{.}}">{{.}}</a>
                {{ end }}
            </p>
        </div>
            {{ end }}
        {{ if (modBool (add $index 1) 2) }}
            </div>
            <div class="row">
        {{ end }}
    {{ end }}
    </div>
    </div>
</div>
{{ .Scratch.Set "paginator" $paginator}}
{{ partial "pagination.html" . }}
