<div class="container">
    {{ partial "breadcrumb.html" . }}
    <header>
        <h1>{{ .Title }}</h1>
    </header>
</div>

{{ if .Params.starredPages }}
<div style="background:#e5f4f3">
<p style="font-size:0.8em; margin:0; padding-left:.5%;"> ★ starred ★ </p>
<div class="row-alt-alt">
    {{ $urls := slice }}
    {{ range $u := .Params.starredPages }}
    {{ $urls = $urls | append $u.url }}
    {{ end }}

    {{ range .Params.starredPages }}
    {{ range where $.Site.RegularPages ".RelPermalink" .url }}
    <div class="box-small">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p class="summary">
    {{ .Params.summary | truncate 30 }}
    </p>
    </div>
    {{ end }}
    {{ end }}
</div>
</div>
{{ end }}

<div class="container row-alt">
    <div class="col-2 col-alt">
{{ if (or .Params.suggestedCategories .Params.starredPages) }}
        <div class="box box-alt">
        {{ if (.Scratch.Get "associatedGallery") }}
            {{ $cat := index (.Scratch.Get "associatedGallery") 0}}
            The gallery has a related page:<br>
            <a href="/gallery/{{$cat}}">{{$cat}}</a>
            <br><br>
        {{ end }}

        {{ if .Params.suggestedCategories }}
            Suggested Categories
            {{ range .Params.suggestedCategories }}
            <br><a href="/blog/{{.}}">{{.}}</a>
            {{ end }}
        {{ end }}
    <br>
{{ end }}
    </div>
</div>

    {{ $paginator := .Paginate (.Scratch.Get "pages") }}
<div style="width:100%">
    <div class="row">
    {{ range $index, $page := $paginator.Pages }}
        <div class="col-3 box">
            <h2>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>

            <date>{{ .Date.Format "January 2, 2006" }}</date>
            <p class="summary">{{ .Params.summary }}</p>

            {{ if .Params.Categories }}
            <p class="categories">
                Categories:
                {{ range .Params.Categories }}
                <a href="/blog/{{.}}">{{.}}</a>
                {{ end }}
            </p>
        </div>
            {{ end }}
        {{ if (modBool (add $index 1) 2) }}
        </div>
        <div class="row">
        {{ end }}
    {{ end }}
        </div>
    </div>
</div>
{{ .Scratch.Set "paginator" $paginator}}
{{ partial "pagination.html" . }}
