{{ partial "list_header.html" . }}
<div class="container row-alt">
    <div class="col-2 col-alt">
{{ if (or .Params.suggestedCategories .Params.starredPages) }}
	    <div class="box box-alt">
{{ if .Params.suggestedCategories }}
        	All categories:
        	{{ range .Params.suggestedCategories }}
        	<br><a href="/categorized/{{.}}">{{.}}</a> 
        	{{ end }}
{{ end }}
<br>
{{ if .Params.starredPages }}
<br>
	★  Pages:
        {{ range .Params.starredPages }}
        <br><a href="{{index . "url"}}">{{ index . "title" }}</a> <br>
        {{ end }}
{{ end }}
{{ end }}
	    </div>
    </div>
{{ $paginator := .Paginate ( .Scratch.Get "pages") }}
<div style="width:100%">
<div class="row">
{{ range $index, $page := $paginator.Pages }}
        <div class="col-3 box">
            <h2>
                <a href="{{ .URL }}">{{ .Title }}</a>
            </h2>
            
            <date>{{ .Date.Format "January 2, 2006" }}</date>
            <br/>
            <p class="summary">{{ .Params.summary }}</p>
            
            {{ if .Params.Categories }}
            <p class="categories">
                Tags: {{ range .Params.Categories }}
                <a href="/categories/{{.}}">{{.}}</a>
                {{ end }}
            </p>
        </div>
    {{ end }}
        {{ if (modBool (add $index 1) 2) }}
            </div><div class="row">
        {{ end }}
{{ end }}
	    </div></div></div>
{{ .Scratch.Set "paginator" $paginator}}
{{ partial "pagination.html" . }}
