{{- $staticURL := .Get "staticDir" -}}
{{- $parentURL := .Get "parentDir" -}}
{{- $fullURL := add $parentURL (.Get "fullDir") -}}
{{- $thumbURL := add $parentURL (.Get "thumbDir") -}}

{{ if .Get "miniThumbDir" }}
{{ .Scratch.Set "miniThumbURL" (add $parentURL (.Get "miniThumbDir")) }}
{{ end }}

{{ if .Inner }}
{{ .Scratch.Set "captions" (split .Inner "\\") }}
{{ end }}

{{- $files := readDir (add $staticURL $thumbURL) -}}
<br>
<div class="gallerywrapper">
<div class="row lboxgallery">
{{- range $index, $file := $files }}
<div class="col-3">
<a class="gallery"
    href="{{ $fullURL }}{{ .Name | relURL }}">
    <img class="thumbnail lazy" 
        {{ if $.Scratch.Get "miniThumbURL" }} src="{{ $.Scratch.Get "miniThumbURL" }}{{ .Name | relURL }}" {{ end }}
        data-src="{{ $thumbURL }}{{ .Name | relURL }}"
        style="max-width:100%"
        alt="{{ index ($.Scratch.Get "captions") $index }}" >
    </img>
</a>
</div>
{{ if (modBool (add $index 1) 3) }}
</div><div class="row lboxgallery">
    {{ end }}
{{- end }}
</div>
</div>
<br>
